body {
  background-image: url("images/pattern.jpg");
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%;
}

.content {
  position: absolute;
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content__header {
  color: white;
  padding: 10px;
}

.items {
  padding-bottom: 1.75%;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.block-items-double {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.75%;
  height: 135px;
  flex-basis: 31.5%;
  flex-grow: 0;
}

.block-items {
  margin-top: 1.75%;
  height: 135px;
  flex-basis: 31.5%;
  flex-grow: 0;
}

.block-items-half {
  margin-top: 1.75%;
  height: 135px;
  flex-basis: 14.75%;
  flex-grow: 0;
}

.block-items-triple {
  margin-top: 1.75%;
  height: 135px;
  flex-basis: 48.225%;
  flex-grow: 0;
}

.item-double {
  width: 47%;
  position: relative;
  height: 100%;
}

.item {
  width: 100%;
  position: relative;
  height: 100%;
}

.item__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-image {
  height: 100%;
}

.item__title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
}

.item__blog-title {
  position: absolute;
  bottom: 40px;
  left: 150px;
  color: #FFF;
}

.bgr-blue {
  background-color: rgb(51, 135, 234);
}

.bgr-yellow {
  background-color: rgb(249, 190 ,62);
}

.bgr-red {
  background-color: rgb(211, 87, 62);
}

.bgr-lblue {
  background-color: rgb(89, 176, 286);
}

.bgr-green {
  background-color: rgb(51, 175, 149);
}

.bgr-lgreen {
  background-color: rgb(134, 167, 63);
}

.bgr-black {
  background-color: rgb(21, 26, 38);
}

.bgr-purple {
  background-color: rgb(126, 91, 140);
}

@media screen and (max-width: 768px) {
  .content {
    position: static;
    top: initial;
    left: initial;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 575px) {
  .items {
    padding-bottom: 1.75%;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
  }

  .block-items-double {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
    height: 135px;
    flex-basis: 100%;
    flex-grow: 0;
  }

  .block-items, .block-items-half, .block-items-triple{
    margin: 3% 1.5% 0 1.5%;
    height: 135px;
    flex-grow: 0;
  }
}