@import './mixins.scss';

.page-aside {
  transition: all 1s ease-out;
  transition-duration: .5s;
  transition-property: all;
  transform-origin: top;
  z-index: 1;
  width: 0;
  overflow: visible;
  @include flexColumn;
  position: relative;
  max-width: $page-aside-width;
  background-color: #171717;
  margin-top: 41px;
  @include tablet {
    //height: 932px;
  }
  @include s-mobile {
    position: fixed;
    top: 11px;
    height: 100%;
  }
  &__logo {
    transition: all 1s ease-out;
    transition-duration: .5s;
    transition-property: all;
    transform-origin: top;
    position: relative;
    overflow-x: hidden;
    width: 0;
    display: flex;
    background-color: #f2d224;
    @include flexCenterVertical;
    justify-content: center;
    @include tablet {
      min-width: 0;
      height: 92px;
    }
    @include s-mobile {
      height: 53px;
    }
  }

  &__logo > span {
    font-weight: 900;
    font-size: 29px;
    width: 85px;
    height: 44px;
    color: #171717;
  }

  &__search-block {
    overflow: hidden;
    width: 100%;
    height: 91px;
    background-color: $page-aside-background;
    @include flexCenterVertical;
    padding-left: 0;
  }

  .page-aside__search {
    display: flex;
    width: 183px;
    height: 33px;
    border-radius: 100px;
  }

  &__search-input {
    width: 80%;
    height: 100%;
    background-color: #313131;
    border: none;
    color: #bbbbbb;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    font-weight: 400;
    padding-left: 15.5px;
  }

  &__search-btn {
    @include buttonDeactivate;
    width: 20%;
    height: 100%;
    background-color: #313131;
    color: #bbbbbb;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
  }

  &__menu-block {
    overflow: hidden;
    width: 100%;
    height: 220px;
    background-color: $page-aside-background;
  }

  &__menu {
    width: 100%;
    min-height: 219px;
    @include flexColumn;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
  }

  &__item {
    display: flex;
    width: 180px;
  }

  &__link {
    color: white;
    font-size: 12px;
    font-weight: $lato-regular;
    letter-spacing: 1px;
  }

  &__link-title {
    margin: 10px 18px 0 5px;
    height: 42px;
    @include flexCenterVertical;
    transition: color;
    transition-duration: .2s;
  }

  &__link-title:hover {
    color: $link-title-color;
  }

  &__account-block {
    overflow: hidden;
    width: 100%;
    min-height: 190px;
    background-color: $page-aside-background;
    @include flexColumn;
  }

  &__account-block-header {
    margin: 31px 50px 18px 25px;
    width: 156px;
    height: 17px;
  }

  &__account-block-header > a {
    color: $page-nav-link-color;
    font-size: 14px;
    font-weight: $lato-regular;
    letter-spacing: 1.2px;
  }

  &__sign-in {
    width: 156px;
    height: 102px;
    margin: 0 51px 22px 24px;
    @include flexColumn;
  }

  &__sign-in > li > a {
    font-size: 10px;
    font-weight: $lato-regular;
    line-height: 3.4;
    letter-spacing: 0.8px;
    color: $page-aside-link;
  }

  &__switch-block {
    transition: margin-left 1s ease-out;
    transition-duration: .5s;
    transition-property: all;
    width: 231px;
    min-height: 49px;
    background-color: #0d0d0d;
    @include flexCenterVertical;
    justify-content: space-between;
    margin-left: -206px;
  }

  &__switch-logo {
    width: 74px;
    height: 17px;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.2px;
    color: white;
    margin-left: 23px;
  }

  span:nth-child(2) {
    color: #27c6e7;
  }

  &__switcher {
    @include buttonDeactivate;
    background-color: #0d0d0d;
    font-size: 26px;
    width: 23px;
    height: 30px;
    color: #6b6b6b;
    margin-right: 0;
    text-align: center;
  }
  &__switcher:after {
    content: '\203A';
  }

  &__useful-links-block {
    overflow: hidden;
    width: 100%;
    height: 381px;
    background-color: $page-aside-background;
  }

  &__useful-links {
    width: 156px;
    height: 132px;
    @include flexColumn;
    margin: 18px 52px 0 23px;
  }

  &__useful-links > li > a {
    font-size: 12px;
    font-weight: $lato-regular;
    line-height: 2.75;
    letter-spacing: 1px;
    color: #6b6b6b;
  }

  &__interval {
    width: 100%;
    height: 2px;
    opacity: 0.11;
    background-color: #d8d8d8;
  }

}

.icon > svg {
  position: relative;
  bottom: 5px;
}

.icon path {
  fill: #6b6b6b;
  transition: fill 0.3s;
}

.icon:hover path {
  fill: #d0d0d0;
}

.page_active {
  .page-aside {
    width: 231px !important;
    transition-duration: .5s;
    &__logo {
      width: 231px !important;
      transition-duration: .5s;
      @include tablet {
        min-width: 231px !important;
      }
    }
    &__search-block {
      padding-left: 25px;
    }
    &__switch-block {
      margin-left: 0;
      transition-duration: .5s;
      overflow-x: hidden;
    }
    &__switcher {
      margin-right: 15px;
    }
  }

}