$base-font-size: 12px;
$background-orange-hidden: rgba(225, 225, 225, .1);
$background-orange: linear-gradient(231deg, #f68605, #d11a05);
$background-blue: linear-gradient(51deg, #44baca, #2573c3);
$background-pink: linear-gradient(231deg, #f43e1e, #c32577);
$background-purple: linear-gradient(51deg, #6f44a4, #475aa7);


